<h1>Ćwiczenia z interpolacji</h1>

<h2>1. Wypisz kolejno pola z klasy: 'title', 'num1', 'num2', 'falsity'</h2>
<p>To naprawdę fajne ...</p>
<p>A imię jego ... i ...</p>
<p>True jest przeciwieństwem ...</p>

<h5>2. Wypisz pola z obiektu 'dog'</h5>
<p>Mój pies ma na imie: ...</p>
<p>Ma lat: ...</p>
<p>Jest koloru: ...</p>

<h2>3. Wypisz kolejno quotation1 i quotation2 z klasy komponentu:</h2>
<p>Cytat 1:</p>
<p>Cytat 2:</p>

<h2>4. Stwórz wyrażenia:</h2>
<p>Dodaj dwie cyfry, odejmij i pomnóż.</p>
<p>Wyrażenie: ...</p>

<p>
  Użyj skróconego if-a i w zależności od gettera 'randomBoolean' jeżeli jest
  ture wyświetl 'tak' jeżeli false 'nie';
</p>
<p>Wynik: ...</p>

<p>Podziel zmienną 'num1' przez metodę 'divider': ...</p>
<p>Wynik: ...</p>
